.head {
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 4rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    box-shadow: 5px 5px 5px rgb(113, 128, 133);
    justify-content: space-between;
}

.head-title {
    display: flex;
    width: 25%; 
    align-items: center;
    column-gap: 4%;
}


.head-options {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 2rem;
}
.head-options h3 {
    opacity: 0.7;
}
.head-options h3:hover {
    opacity: 1;
    cursor: pointer;
}

.menu-img {
    display: none;
}

@media (max-width: 600px) {
    .menu-img {
        display: block;
    }
    .head-options {
        display: none;
    }

    
}

@media (max-width: 800px) {
    .head-title {
        font-size: small;
        width: 60%;
    }   
}

