.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-height: 600px) {
    .footer {
        display: none;
    }
}

