

.filter-head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0%;
    align-items: center;
}

hr {
    width: 100%;
    opacity: 0.5;
}
.filter-close {
    position: absolute;
    right: 5%;
    bottom: 5%;
    display: none;
}

.filter-close button {
    height: 2rem;
    background-color: #DADADA;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset-btn {
    opacity: 0.8;
}

.reset-btn:hover {
    opacity: 1;
    cursor: pointer;
}

@media (max-width: 1000px) {

    .filter-close {
        display:block;
    }
}